<form class="example-form" #form="ngForm" (ngSubmit)="formSubmit(template)">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput name="email" #email id="email" [formControl]="f.email">
      <mat-error *ngIf="f.email.hasError('f.email')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="f.email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field><br>

    <!--#################################-->

    <mat-form-field class="example-full-width">
        <mat-label>Nom</mat-label>
        <input type="nom" matInput name="nom" #nom [formControl]="f.nom">
        <mat-error *ngIf="f.nom.hasError('required')">
          nom is <strong>required</strong>
        </mat-error>
      </mat-form-field><br>

       <!--#################################-->

      <mat-form-field class="example-full-width">
        <mat-label>Prenom</mat-label>
        <input type="prenom" matInput name="prenom" #prenom [formControl]="f.prenom">
        <mat-error *ngIf="f.prenom.hasError('required')">
          prenom is <strong>required</strong>
        </mat-error>
      </mat-form-field><br>

       <!--#################################-->

      <mat-form-field class="example-full-width">
        <mat-label>Carte d'identité nationale</mat-label>
        <input type="text" matInput name="cin" #cin [formControl]="f.cin">
        <mat-error *ngIf="f.cin.hasError('required') ">
          cin is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="f.cin.hasError('maxlength')||f.cin.hasError('minlength') || f.cin.hasError('pattern') ">
            cin must be <strong>8 digits only</strong>
        </mat-error>
      </mat-form-field><br>

      <button mat-button type="submit" class="btn btn-primary" [disabled]="Formulaire.invalid ">Submit</button>
  </form>

  <ng-template #template>
    <h1>Erreur!</h1>
    <p>Ce compte déja existe !</p>
   </ng-template>