<div id="container">
    <mat-form-field>
      <mat-label>Tapez le mot à rechercher</mat-label>
      <input  matInput (keyup)="applyFilter($event.target.value)" #input>
    </mat-form-field>
    <div class="mat-elevation-z8">
    <mat-table  [dataSource]="agent" matSort matSortDisableClear >
      
      <ng-container matColumnDef="Nom">
        <mat-header-cell *matHeaderCellDef  mat-sort-header> Nom </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nom}} </mat-cell>
      </ng-container>
  
  
      <ng-container matColumnDef="Prenom">
        <mat-header-cell *matHeaderCellDef  mat-sort-header> Prenom </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.prenom}} </mat-cell>
      </ng-container>
  
  
<!--       <ng-container matColumnDef="Détaille">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Détaille</mat-header-cell>
        <mat-cell style="height: 80px;" *matCellDef="let element" > 
          <form  #m="ngForm" (ngSubmit)="onSubmit(chassi)" action="/submit-form" novalidate>
                
              <input type="hidden" name="chassi" #chassi [(ngModel)]="element.N_CHASSI" >
            <button mat-button type="submit">
            <span class="material-icons" >
              list
              </span> Détaille</button>
              
          </form>  
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="Editer">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Editer</mat-header-cell>
        <mat-cell style="height: 80px;" *matCellDef="let element"> 
        <form  #m="ngForm" (ngSubmit)="onEdit(chassi)" action="/submit-form" novalidate>
          <input type="hidden" name="chassi" #chassi [(ngModel)]="element.N_CHASSI" >
        <button mat-button type="submit">
          <span class="material-icons">
            edit
            </span> Editer</button>
          </form>  
        </mat-cell>
      </ng-container> -->
  
  
      <!--form (ngSubmit)="onSubmit(chassi)" #m="ngForm" action="/submit-form" novalidate>
                
        <input type="hidden" name="chassi" #chassi [(ngModel)]="element.N_CHASSI" >
      <button mat-button 
      style="height:68px;margin-top: -11px  ;width: 100px;;margin-left: -19px;font-size:medium;" 
      ><i class="fa fa-dedent"></i> Détaille</button>
    </form-->
  
      <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[4,10,20]" showFirstLastButtons ></mat-paginator>
  </div>
  </div>
