<div id='content'>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Nom Parking</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
        &nbsp;&nbsp;
        <mat-form-field appearance="outline">
            <mat-label>Longitude</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Latitude</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
        &nbsp;&nbsp;
        <mat-form-field appearance="outline">
            <mat-label>Prix</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Rate</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
        <button mat-button type="submit" (click)="addPark()" color="primary">Login</button>
    </p>
</div>